body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20200320/pngtree-3d-puzzle-color-toy-building-blocks-background-image_332233.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

/* Style for the button */
button#hanoi {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: gold;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Hover effect */
#hanoi:hover {
    background-color: #ff80b0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
} 